/*Main menu css start*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');

@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap');

body {
	font-family: 'Open Sans', sans-serif;
	color: #888888;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
}
a:hover {
    text-decoration: none;
}

.header-area {
    background: #e8e8e8;
    overflow: hidden;
}

.logo-area {
    margin-left: 12px;
}

.product-section a {
    color:#333;
}

.logo-area {
    padding-top: 14px;
}


.logo-area a img {
    max-height: 54px;
    max-width: 215px;
}

/*.logo-area a {
    padding: 18px 0;
}*/
.mainmenu-area ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mainmenu-area ul li {
    display: inline-block;
}

.mainmenu-area ul li a {
    color: #5c6a73;
    font-weight: 700;
    text-decoration: none;
    font-size: 11px;
    padding: 5px 10px;
    border: 2px solid transparent;
    transition: 0.4s;
    border-radius: 50px;
    text-transform: uppercase;
}

.mainmenu-area .search-icon {
    background: #a8a8a8;
    padding: 17px 19px;
    margin-left: 12px;
}

.mainmenu-area ul li a:hover {
    border: 2px solid #dc08a3;
    padding: 5px 10px;
    border-radius: 50px;
}

.mainmenu-area .search-icon a:hover {
    border: 2px solid transparent;
}

.mainmenu-area .search-icon a {
    color: white;
    font-size: 20px;
    transition: 0.3s;
}

.mainmenu-area .search-icon a:hover {
    color: #e6e6e6;
}

.topmenu-area {
    border-bottom: 1px solid #373737;
}

.logo-area a {
    padding: 8px 7px;
    border: 2px solid transparent;
    transition: 0.4s;
    border-radius: 50px;
}

.logo-area a:hover {
    border: 2px solid #dc08a3;
    border-radius: 50px;
    padding: 8px 7px;
}
/*Main menu css end*/

/*hero-area css start*/
.hero-text {
    text-align: center;
    padding: 105px 0;
}

.hero-text h2 {
    font-size: 65px;
    font-weight: 700;
    color: #fff;
    line-height: 1.2;
}

.hero-bg-1 {background-image: url(../img/hero-bg-1.jpg);}
.hero-bg-2 {background-image: url(../img/hero-bg-2.jpg);}
.hero-bg-3 {background-image: url(../img/hero-bg-3.jpg);}
.hero-bg-4 {background-image: url(../img/hero-bg-4.jpg);}
.hero-bg-5 {background-image: url(../img/hero-bg-5.jpg);}

.hero-area-section {
    background-position: center;
    background-color: #222;
    background-size: cover;
}

.shopnow-btn {
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    padding: 12px 32px;
    border-radius: 8px;
    border: 2px solid white;
    background: #ff63bf;
    color: #fff;
    margin-top: 25px;
    font-weight: 400;
}

.shopnow-btn:hover {
    background: #e84ea9;
}

.single-slide-item {
    position: relative;
    z-index: 1;
}

.single-slide-item:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    content: "";
    opacity: .4;
    z-index: -1;
}

.homepage-slides .owl-nav button {
    position: absolute;
    left: 50px;
    top: 50%;
    line-height: 40px;
    margin-top: -20px;
    font-size: 60px;
}

.homepage-slides .owl-nav button {
    font-size: 35px;
    color: #fff;
}

.homepage-slides .owl-nav button svg:hover {
    color: #d2d2d2;
}

.homepage-slides .owl-nav button.owl-next {
    left: auto;
    right: 50px;
    position: absolute;
}

.homepage-slides .owl-nav {
    font-size: 35px;
    color: #fff;
}

/*hero-area css end*/


/*product area css start*/
.product-1 {
    background-image: url(../img/product1.jpg);
}
.product-2 {
    background-image: url(../img/product2.jpg);
}
.product-3 {
    background-image: url(../img/product3.jpg);
}
.product-4 {
    background-image: url(../img/product4.jpg);
}
.product-5 {
    background-image: url(../img/product5.jpg);
}
.product-6 {
    background-image: url(../img/product6.jpg);
}

.product-section {
    padding: 50px 0;
}

.single-product-details:hover {
    border: 1px solid #ff63bf;
}

.single-product-details {
    border: 1px solid transparent;
    transition: .4s;
}


.single-product {
    height: 250px;
    background-position: center;
    background-size: cover;
    box-shadow: 2px 3px 3px #dfdfdf;
    position: relative;
}

.product-section {
    padding: 50px 0;
}

.product-details {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.product-details .product-org, .product-details .total-product-color {
    color: #797979;
    font-size: 17px;
    font-weight: 400;
}

.product-details .product-name, .product-details .product-price {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    color: #363636;
}

.single-product .love-sign {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: #ff0000;
}

.single-product .product-type {
    position: absolute;
    bottom: 14px;
    background: #ffffff;
    padding: 4px 8px;
    text-transform: uppercase;
    font-style: italic;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    transform: rotate(-90deg);
    border: 1px solid #f5f4f4;
}

.space-40 {
    height: 40px;
}
/*product area css end*/

/*product pagination css start*/
.pagination-area ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.pagination-area ul li {
    display: inline-block;
    padding: 13px;
}

.pagination-area ul li a {
    color: #222;
}

.pagination-area .navprev a, .pagination-area .navnext a {
    border: 1px solid #ff63bf;
    border-radius: 50px;
    padding: 7px 19px;
    transition: .3s;
}

.pagination-area .navprev a:hover, .pagination-area .navnext a:hover {
    background: #e84ea9;
    color: #fff;
}

.pagination-area .active-page {
    font-weight: 700;
    padding: 10px 16px;
    border: 1px solid #656565;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 3px;
}

.pagination-area .total-page {
    padding-left: 0;
    padding-right: 15px;
    font-size: 15px;
    color: #818080;
}

.pagination-area {
    padding: 40px 0;
}
/*product pagination css end*/

/*subcribe area css start*/
.subscribe-area h3 {
    text-transform: uppercase;
    font-size: 18px;
    color: #363636;
    padding: 15px 0;
}

.subscribe-area input {
    border: 2px solid #ff63bf;
    padding: 7px 10px;
    border-radius: 3px;
}

.subscribe-area input::placeholder {
    color: #8e8e8e;
    opacity: 1;
}

.subscribe-area .subscribe-btn {
    color: #fff;
    padding: 9px 16px;
    background: #ff63bf;
    border: none;
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 17px;
    border-radius: 4px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    transition: .3s;
}

.subscribe-area .subscribe-btn:hover {
    background: #e84ea9;
}

.subscribe-area {
    padding-bottom: 40px;
}
/*subcribe area css end*/


/*Footer section css start*/
.footer-top-area {
    background: #3c122b;
    margin-top: 40px;
}
.footer-menu-area {
    padding: 40px 0px;
}

.footer-single-item .footer-heading {
    color: #fff;
    text-transform: uppercase;
    z-index: 1;
    margin-bottom: 20px;
}

.footer-single-item {
    margin-bottom: 20px;
}

.footer-heading h3 {
    font-size: 16px;
    font-weight: 600;
    position: relative;
}

.menu-item-area ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-item-area ul li a {
    color: #c7c7c7;
    font-size: 12px;
    padding-left: 15px;
    display: block;
}

.menu-item-area ul li a:hover {
    color: #fffdfd;
}

.footer-heading .col-line {
    width: 85%;
    height: 1px;
    background: #ff63bf;
    position: absolute;
}

.menu-item-social ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-item-social ul li {
    display: inline-block;
}

.menu-item-social ul li a {
    color: #fff;
    display: inline-block;
    border: 1px solid #fff;
    width: 34px;
    height: 35px;
    text-align: center;
    line-height: 33px;
    border-radius: 50px;
}

.menu-item-social ul li a:hover {color: #ff63bf;border: 1px solid #ff63bf;}

.menu-item-area ul li {
    position: relative;
    padding-bottom: 8px;
}

.menu-item-area ul li:before {
    position: absolute;
    left: 0px;
    top: -18px;
    content: "-";
    color: #ff63bf;
    font-size: 32px;
}

.copyright-area ul {
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 11px;
    color: #cacaca;
}

.copyright-area ul li {
    display: inline-block;
    padding-right: 13px;
    position: relative;
    padding-left: 15px;
}

.copyright-area ul li a {
    color: #929292;
}

.footer-bottom-area {
    background: #290a1c;
    padding: 15px 0;
}

.copyright-area ul li:first-child {
    padding-left: 0;
}

.copyright-area ul li:last-child {
    padding-right: 0;
}

.copyright-area ul li:after {
    position: absolute;
    right: -5px;
    content: "|";
}

.copyright-area ul li:last-child:after {
    content: none;
}

.copyright-text ul li a:hover {
    color: #fff;
}

/*Footer section css end*/